Node_red_flow/node-redflow.json
[{"id":"d2f1caed.115918","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4648113.7f00bf","type":"debug","z":"d2f1caed.115918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"d4189ced.454d6","type":"watson-conversation-v1","z":"d2f1caed.115918","name":"My Bot","workspaceid":"d2432655-954d-4e28-98b5-149e902acdbf","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e11053ca-3acc-41cc-9248-61723dc9faca","timeout":"","optout-learning":false,"x":510,"y":180,"wires":[["7dafc70f.5a5fd8","4648113.7f00bf"]]},{"id":"2edb215c.06f49e","type":"function","z":"d2f1caed.115918","name":"","func":"msg.payload = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["d4189ced.454d6","e8dbde90.80e9a"]]},{"id":"7dafc70f.5a5fd8","type":"function","z":"d2f1caed.115918","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["61a0c67.fcac238"]]},{"id":"dd40ab1c.8b8928","type":"ui_form","z":"d2f1caed.115918","name":"","label":"","group":"31ffc34a.dd467c","order":1,"width":6,"height":2,"options":[{"label":"Enter your query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":160,"wires":[["2edb215c.06f49e"]]},{"id":"e8dbde90.80e9a","type":"ui_template","z":"d2f1caed.115918","group":"31ffc34a.dd467c","name":"","order":6,"width":6,"height":1,"format":"<html>\n    <p><b>You</b> - {{msg.payload}}</p>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":340,"y":400,"wires":[["d4189ced.454d6"]]},{"id":"61a0c67.fcac238","type":"ui_template","z":"d2f1caed.115918","group":"31ffc34a.dd467c","name":"","order":3,"width":9,"height":6,"format":"<html>\n    <p><b>Assistant</b> {{msg.payload}} </p>\n    \n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":400,"wires":[[]]},{"id":"31ffc34a.dd467c","type":"ui_group","z":"","name":"Bot","tab":"9e3730ef.cd58a","order":1,"disp":true,"width":16,"collapse":false},{"id":"9e3730ef.cd58a","type":"ui_tab","z":"","name":"Intelligent Customer HelpDesk With Smart Document Understanding","icon":"dashboard","disabled":false,"hidden":false}]
